
@{
    ViewBag.Title = "showall";
}

<h2>Project</h2>
<table border="1">
    <tr>
        <th>OOP1</th>
        <th>00P2</th>
        <th>WEB TECHNOLOGY</th>

    </tr>
    <tr>
        <td>Market Management System</td>
        <td>Bank Management System</td>
        <td>Online Shopping Center</td>
       
    </tr>
   
</table>

