
@{
    ViewBag.Title = "Index";
}

<h2>Personal Information</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <td>Partha Malakar</td>     
    </tr>
    <tr>
        <th>ID</th>
        <td>20-42908-1</td>
    </tr>
     <tr>
         <th>Email</th>
         <td>parthamalakar667@gmail.com</td>
     </tr>
     <tr>
         <th>ContractNO</th>
         <td>01753102575</td>
     </tr>

</table>
